mixin pagination(content, params)
  ul.pagination
    li(class="pagination__item")
      a(href="#intro") i
    li(class="pagination__item")
      a(href="#stock") s
    li(class="pagination__item")
      a(href="#take-part") t    
    li(class="pagination__item")
      a(href="#info") i
    li(class="pagination__item")
      a(href="#result") r 
    li(class="pagination__item")
      a(href="#rules") r
    li(class="pagination__item")
      a(href="#buy") b        