mixin pagination(content, params)
  ul.pagination
    li(class="pagination__link")
      a(href="#intro") i
    li(class="pagination__link")
      a(href="#stock") s  
    li(class="pagination__link")
      a(href="#info") i
    li(class="pagination__link")
      a(href="#result") r 
    li(class="pagination__link")
      a(href="#rules") r     