mixin pagination(content, params)
  ul.pagination
    li
      a(href="#intro") i
    li
      a(href="#stock") s  
    li
      a(href="#info") i
    li
      a(href="#result") r 
    li
      a(href="#rules") r     