.intro {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: $BASE-FONT;
    background-color: #000000;
    background-size: cover;



    &__back {
        position: absolute;
        @include value(width, 1440px, 820px);
        overflow: hidden;
        // @include desk-value(left, 200px);
        @include mobile-value(left, -140px);
        @include mobile-value(bottom, 50px);

        img {
            width: 100%;
            // margin: 0 auto;
            // float: right;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0;
        @include value(width, 1100px, 375px);
        @include value(padding-top, 15px, 0px);
        @include value(margin-bottom, 127px, 20px);

    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        @include value(margin-top, 22px, 0px);
    }

    &__menu {
        color: #FFFFFF;

        @include MOBILE {
            display: none;
        }

    }

    &__logo {
        @include value(margin-top, 2px, 10px);
        @include mobile-value(padding-top, 12px);

        img {
            @include value(width, 75px, 75px);
        }

        @include MOBILE {
            margin: auto;
        }
    }

    &__menu-item {
        position: relative;
        @include value(margin-left, 30px, 30px);
        font-weight: 600;
        @include value(font-size, 13px, 13px);
        @include value(line-height, 12px, 12px);
        letter-spacing: 0.09em;
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        // border-bottom: 1px solid transparent;
        &:before {
            @include transition(500ms);
            content: '';
            display: block;
            width: 0%;
            height:10%;
            position: absolute;
            top:100%;
            left:0;
            background-color:#ffffff;

        }
        @include transition(500ms);

        &:hover {
            &:before {
            width: 100%;
            }
        }
    }

    &__body {
        display: flex;
    }

    &__info {
        display: flex;
        position: relative;
        flex-direction: column;
        @include value(width, 850px, 400px);
        margin: 0 auto;
        @include value(padding-top, 36px, 9px);
        @include value(padding-right, 5px, 0px);
        @include mobile-value(padding-left, 26px);
    }

    &__info-title {
        @include value(margin-top, 0px, 0px);
        @include value(margin-bottom, 10px, 5px);
        font-weight: bold;
        @include value(font-size, 30.5px, 26px);
        line-height: 135%;
        color: #FFE144;

        span {
            @include value(font-size, 61px, 36px);
            @include mobile-value(letter-spacing, 0px);
        }

        @include MOBILE {
            font-weight: 500;
            @include mobile-value(letter-spacing, 1px);
        }
    }

    &__info-subtitle {
        @include value(margin-bottom, 10px, 10px);
        font-weight: 600;
        @include value(font-size, 31px, 26px);
        line-height: 1.3;
        color: #FFFFFF;

        @include MOBILE {
            @include mobile-value(letter-spacing, 1px);
            font-weight: 500;
        }
    }

    &__info-note {
        position: relative;
        display: inline-block;
        @include value(margin-top, 29px, 15px);
        @include value(width, 378px, 158px);
        font-weight: normal;
        @include value(font-size, 21px, 16px);
        line-height: 1.3;
        color: #FFFFFF;

        &:before {
            position: absolute;
            top: 50%;
            @include value(right, -32px, 5px);
            display: block;
            content: "";
            width: 50vw;
            @include value(height, 55px, 79px);
            // background: linear-gradient(0deg, #B50000, #B50000);
            // background: radial-gradient( #B50000, #B50000);
            background-color: #B50000;
            transform: translate(0, -50%);
        }

        span {
            position: relative;
        }
    }

    &__bg {
        position: absolute;
        top: 0px;
        left: 50%;
        @include desk-value(width, 1440px);
        height: 100%;
        transform: translate(-50%, 0);
        overflow: hidden;

        @include MOBILE {
            width: 100vw;
        }
    }

    &__image-man {
        position: absolute;
        @include desk-value(right, 198px);
        @include value(bottom, 0px, 40px);
        @include value(width, 470px, 380px);
        overflow: hidden;


        img {
            width: 100%;
            display: block;
        }


        @include MOBILE {
            left: 50%;
            transform: translate(-50%, 0);
        }

    }

    &__image-table {
        position: absolute;
        @include desk-value(right, -7px);
        @include value(bottom, -36.5px, -88px);
        @include desk-value(width, 977px);
        overflow: hidden;

        @include MOBILE {
            @include mobile-value(left, -100px);
            @include mobile-value(bottom, -14px);
            width: 160vw;
        }

        @include TABLET {
            @include mobile-value(left, -40px);
            width: 120vw;
        }


        img {
            width: 100%;
            display: block;
        }


    }

    &__info-button {
        @include value(width, 280px, 325px);
        @include value(margin-top, 73px, 289px);
        background: linear-gradient(263.39deg, #fcfa53 17.06%, #ffcd17 74.32%);
        // color: #000000;
        // background-color: yellow;

        @include MOBILE {
            @include mobile-value(letter-spacing, 2px);
        }
    }

    &__transition {
        position: relative;
        margin: auto;
        @include value(width, 400px, 400px);
    }

    &__btn-transition {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include value(left, 125px, 3px);
        @include desk-value(top, -58px);
        @include mobile-value(bottom, 130px);
        @include value(width, 150px, 107px);
        @include value(height, 150px, 107px);
        margin: 0;
        text-decoration: none;
        font-weight: 600;
        @include value(font-size, 14px, 8px);
        line-height: 1.25;
        color: #FFFFFF;
        text-align: center;
        border: 1px solid #FFFFFF;
        border-radius: 50%;

        img {
            position: absolute;
            @include value(width, 26px, 20px);
            @include value(top, 110px, 70px);
            @include value(left, 60px, 45px);
            animation: introBounce 900ms infinite ease-in-out;
        }

        @include MOBILE {
            text-transform: uppercase;
        }
    }

    &__image-smoke {
        position: relative;

        img {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        &_1 {
            @include value(width, 180px, 180px);
            @include value(height, 260px, 260px);
            @include value(left, 800px, 20px);
            @include value(top, 90px, 110px);
            
            picture {
                img{
                   animation: smoke  5s infinite ease-in-out;
                   opacity: 0;
                }
                &:nth-child(1) {
                    img{
                        
                        animation-delay: 0.5s;
                    }
                } 
                &:nth-child(2) {
                    img{
                        
                        animation-delay: 1.5s;
                    }
                } 
                &:nth-child(3) {
                    img{
                        
                        animation-delay: 2.5s;
                        // animation:no
                    }
                }
                &:nth-child(4) {
                    img{
                        
                        animation-delay: 3.5s;
                        // animation:none;
                    }
                }
                &:nth-child(5) {
                    img{
                        
                        animation-delay: 4.5s;
                        // animation:none;
                    }
                }

                
                // &:nth-child(3){
                //     animation: smoke  2.5s infinite ease-in-out;
                // }
            }

            @include TABLET {
                @include mobile-value(left, 80px);
                @include mobile-value(top, 150px);
            }
            @include MOBILE {
                @include mobile-value(left, 30px);
                @include mobile-value(top, 150px);
            }
        }

        &_2 {
            @include value(width, 210px, 200px);
            @include value(height, 200px, 200px);
            @include value(left, 1070px, 200px);
            @include value(top, 20px, 40px);
            picture {
                img{
                   animation: smoke  5s infinite ease-in-out;
                   opacity: 0;
                }
                &:nth-child(1) {
                    img{
                        
                        animation-delay: 0.5s;
                    }
                } 
                &:nth-child(2) {
                    img{
                        
                        animation-delay: 1.5s;
                    }
                } 
                &:nth-child(3) {
                    img{
                        
                        animation-delay: 2.5s;
                        // animation:none;
                    }
                }
                &:nth-child(4) {
                    img{
                        
                        animation-delay: 3.5s;
                        // animation:none;
                    }
                }
                &:nth-child(5) {
                    img{
                        
                        animation-delay: 4.5s;
                        // animation:none;
                    }
                }
            }

            @include TABLET {
                @include mobile-value(left, 270px);
                @include mobile-value(top, 70px);
            }
            @include MOBILE {
                @include mobile-value(left, 190px);
                @include mobile-value(top, 90px);
            }
        }

        // left: 56%;
        // height: 40%;
        // top: 17%;
        // width: 13%;
        // animation: smoke  2.5s infinite ease-in-out;
    }

    // &__image-smoke_2 {
    //     position: absolute;
    //     @include value(left, 1070px, 45px);
    //     @include value(height, 200px, 45px);
    //     @include value(top, 240px, 45px);
    //     animation: smoke  2s infinite ease-in-out;
    // }
}