mixin rules__list-item(content, params)
  li.rules__list-item&attributes(content.attr)&attributes(attributes)
    .rules__item-image
      +picture(content.image)
    h3.rules__item-title!= content.title
    p.rules__item-text!= content.text
            
- var rulesContetn = {title:"Правила \n&quot;Русского лото&quot;",item:[{attr:{class:"rules__list-item_1"},image:{img:{src:'images/rules/card-1.svg'}},text:'Выигрывают билеты, в&nbsp;которых совпали 5&nbsp;чисел в&nbsp;любой горизонтальной строке.',title:'Первый тур'},{attr:{class:"rules__list-item_2"},image:{img:{src:'images/rules/card-2.svg'},list:[{srcset:'images/rules/card-2m.svg',media:"(max-width: 1023px)"}]}, text:'Выигрывают билеты, в&nbsp;которых совпали 15&nbsp;чисел в&nbsp;верхнем или нижнем поле. Если 15&nbsp;чисел совпали на&nbsp;15-м ходу, выигрывают джекпот.',title:'Второй тур'},{attr:{class:"rules__list-item_3"},image:{img:{src:'images/rules/card-3.svg'}}, text:'Выигрывают билеты, в&nbsp;которых совпали все 30&nbsp;чисел.',title:'Третий и&nbsp;последующие туры'}]};


mixin rules(content, params)
  section.rules#rules&attributes(attributes)
    .rules__content
      h2.rules__title!= rulesContetn.title
      ul.rules__list
        each item in rulesContetn.item
          +rules__list-item(item)
      +button({tag:"a", text:"Участвовать", attr:{href:"https://www.stoloto.ru/ruslotto/game/?int=right", target:"_blank"}}).rules__button  
