mixin button(content,params)
  #{content.tag || "button"}.button&attributes(content.attr)&attributes(attributes)
    if content.text
      .button__text!=content.text
    if content.icon
      .button__icon 