mixin take-part(content, params)
	section.take-part
		.take-part__content
			img.take-part__phone
			.take-part__info
				h2.take-part__title Как участвовать?
				ul.take-part__choices
					li.take-part__choices
			+button({tag:"a", attr:{}})	