mixin social-network__item(content,params)
	a.social-network__item&attributes(content.attr)&attributes(attributes)
		.social-network__icon
			img(src="images/social-network/"+ content.img + ".svg")

- var socialNetwork = [{attr:{href:"#", target:"_blank"},img:"vk"},{attr:{href:"#", target:"_blank"},img:"fb"},{attr:{href:"#", target:"_blank"},img:"ok"},{attr:{href:"#",target:"_blank"},img:"tw"},{attr:{href:"#",target:"_blank"},img:"inst"},{attr:{href:"#",target:"_blank"},img:"yt"}];

mixin social-network(content,params)
	.social-network&attributes(attributes) 
		each icon in socialNetwork
			+social-network__item(icon)