.social-network {
	display: flex;
	a {
		
		@include desk-value(margin-right, 20px);
		@include mobile-value(margin-right, 20px);
		
		// margin-right: 15px;
	}

	&__item {
		display: flex;
		justify-content: center;
    align-items: center;
		@include value(width, 25px, 25px);
		@include value(height, 25px, 25px);
		border: 0.5px solid #A2A7AA;
		border-radius: 50%;
		@include transition(border-color 300ms linear);
			&:hover {
			border-color: #2C2F31;
			}
	}
	&__icon {
		align-items: center;
    justify-content: center;
    display: flex;
		@include value(width, 12px, 12px);
		@include value(height, 12px, 12px);
		@include transition(800ms linear);
		img{
			width: 100%;
			height: 100%;
		}

	}


	
}
