mixin social-network__item(content,params)
	a.social-network__item&attributes(content.attr)&attributes(attributes)
		.social-network__icon 
			//- include {#content.icon}
			img&attributes(content.img)&attributes(attributes)
			

- var socialNetwork = [{attr:{href:"http://vk.com/stoloto", target:"_blank"}, icon:"svg/vk.svg", img:{src:"images/social-network/vk.svg"}},{attr:{href:"http://www.facebook.com/stoloto.ru", target:"_blank"},icon:"svg/fb.svg",img:{src:"images/social-network/fb.svg"}},{attr:{href:"http://ok.ru/stoloto", target:"_blank"},icon:"svg/ok.svg",img:{src:"images/social-network/ok.svg"}},{attr:{href:"https://twitter.com/stoloto",target:"_blank"},icon:"svg/tw.svg",img:{src:"images/social-network/tw.svg"}},{attr:{href:"http://instagram.com/stoloto/",target:"_blank"},icon:"svg/inst.svg",img:{src:"images/social-network/inst.svg"}},{attr:{href:"https://www.youtube.com/c/stolototv?sub_confirmation=1",target:"_blank"},icon:"svg/yt.svg",img:{src:"images/social-network/yt.svg"}}];

mixin social-network(content,params)
	.social-network&attributes(attributes) 
		each icon in socialNetwork
			+social-network__item(icon)