mixin social-network__item(content,params)
	a(href="#").social-network__item
		.social-network__icon
			img(src="images/social-network/"+ content.img + ".svg")

- var socialNetwork = [{img:"vk"},{img:"fb"},{img:"ok"},{img:"tw"},{img:"inst"},{img:"yt"}];

mixin social-network(content,params)
	.social-network&attributes(attributes) 
		each icon in socialNetwork
			+social-network__item(icon)