mixin buy__list-item(content, params)
	li.buy__list-item
		.buy__item-icon
			img&attributes(content.img)&attributes(attributes)
		h3.buy__item-title!=content.title
mixin carusel(content, params)
	.buy__swiper
		.swiper-wrapper
			each item in content.item 
				label&attributes(item.label)&attributes(attributes).swiper-slide.buy__item
					input&attributes(item.input)&attributes(attributes)
					.buy__cart
						// .buy__cart
						.buy__body
							.buy__front
								.buy__bg
									include back.svg
								.buy__vector
									include vector.svg
								.buy__item-icon
									img&attributes(item.img)&attributes(attributes)
								h3.buy__item-title!=item.title
							.buy__back
								p!="Текст"
							


- var buyContent = {item:[{title:"безопасная регистрация",img:{src:"images/buy/icon-1.svg"},input:{type:"radio",name:"cart", id:"cart-1"},label:{for:"cart-1"}},{title:"безопасность данных",img:{src:"images/buy/icon-2.svg"},input:{type:"radio",name:"cart", id:"cart-2"},label:{for:"cart-2"}},{title:"Государственные лотереи",img:{src:"images/buy/icon-3.svg"},input:{type:"radio",name:"cart", id:"cart-3"},label:{for:"cart-3"}},{title:"Ваш билет\n никогда не&nbsp;потеряется",img:{src:"images/buy/icon-4.svg"},input:{type:"radio",name:"cart", id:"cart-4"},label:{for:"cart-4"}}]};

mixin buy(content, params)
	section.buy(id="buy")
		.buy__content
			h2.buy__title!="Покупайте лотереи онлайн &mdash;\nэто безопасно"
			+carusel(buyContent)
			
			+button({tag:"a", text:"Купить билет", attr:{href:"https://www.stoloto.ru/ruslotto/game/?int=right", target:"_blank"}}).buy__button 		
				