mixin test(content,params)
	section.test
		.swiper
			.swiper-wrapper
				.swiper-slide
					.cart
				.swiper-slide
					.cart 
				.swiper-slide
					.cart 
				.swiper-slide
					.cart 
					
			//- .swiper-pagination
			//- .swiper-button-prev
			//- .swiper-button-next
			//- .swiper-scrollbar
