@import "_normalaze.scss";
@import "_constants.scss";
@import "_function.scss";
@import "_adaptive.scss";
@import "_mixins.scss";
@import "_animation.scss";
@import "../components/intro/intro";
@import "../components/info/info";
@import "../components/rules/rules";
@import "../components/results/results";
@import "../components/stock/stock";
@import "../components/take-part/take-part";
@import "../components/footer/footer";
@import "../components/buy/buy";
@import "../components/test/test";
// @import "../components/gui/button/button";
@import "../components/gui/gui";
@import "../components/page/page";
// @import "../node_modules/swiper/css/swiper.css"